body {
    background-color: #339dc8;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    background-color: #e4d6d6;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 480px;
}

.tokenBox {
    text-align: left;
    white-space: pre-wrap;
    word-break: break-all;
}

.btn {
    display: inline-block;
    padding: 10px 18px;

    background: #339dc8;
    color: #fff;

    text-decoration: none;
    border-radius: 6px;
    border: none;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: background 0.2s ease, transform 0.05s ease;
}

.btn:hover {
    background: #2b86ab;
}

.btn:active {
    transform: translateY(1px);
}
